<p style="color: green"><%= notice %></p>

<h1>Places I've Been</h1>

<div id="places">
  <% @places.each do |place| %>
    <p>
      <a href="/places/<%= place.id %>"><%= place.name %></a>
    </p>
  <% end %>
</div>

<a href="/places/new">New Place</a>